body {
  margin: 0;
}

h2 {
  color: pink;
}

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page > div {
  display: flex;
  flex-direction: column;
}

header {
  border: 2px solid blue;
}
